.events-by-day {
  display: flex;
  flex-direction: column;

  .event {
    margin: 2px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    font-size: 1.1rem;

    h3 {
      font-size: 1.1rem;
    }

    .event-info {
      flex: 2;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 10px;
    }

    .markets {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      .pick {
        box-sizing: border-box;
        margin: 0 auto;
        flex: 1;
        font-size: 1.2rem;
        cursor: pointer;
        text-align: center;
        border-left: 1px solid hsla(0, 0, 0, 0.2);
        background-color: hsla(0, 0, 20%, 0.1);

        &:hover {
          background-color: hsla(0, 0, 20%, 0.2);
        }
      }

      .active {
        background-color: hsla(0, 100%, 34%, 1);

        &:hover {
          background-color: hsla(0, 100%, 34%, 1);
        }
      }
    }
  }
}