<div class="locations" *ngFor="let location of events.locations">
  <div class="league" *ngFor="let league of location.leagues">
    <h1>{{ league.name }}</h1>
    <div class="events" *ngFor="let eventsByDay of league.eventDateGroups">
      <div class="day-market">
        <p class="date">{{ eventsByDay.date | date :'mediumDate' }}</p>
        <div class="main-markets" *ngFor="let market of events.markets | filter: filterMarketId">
          <p class="market" *ngFor="let pick of market.picks | pickOrder">{{ pick.name }}</p>
        </div>
      </div>
      <app-event *ngFor="let event of eventsByDay.events"
        [event]="event"
        [filterMarketId]="filterMarketId"
        (onAddToTicket)="toggleAddToTicket($event)"></app-event>
    </div>
  </div>
</div>
