<div class="league" *ngFor="let league of events.locations[0].leagues">
  <h1>{{ league.name }}</h1>
  <div class="events" *ngFor="let eventsByDay of league.eventDateGroups">
    <div class="day-market">
      <p class="date">{{ eventsByDay.date | date :'mediumDate' }}</p>
      <div class="main-markets" *ngFor="let market of events.markets | filter: 1">
        <p *ngFor="let pick of market.picks">{{ pick.name }}</p>
      </div>
    </div>
    <app-event *ngFor="let event of eventsByDay.events"
      [event]="event"
      [eventsByDay]="eventsByDay"
      (onAddToTicket)="toggleAddToTicket($event)"></app-event>
  </div>
</div>