<div class="ticket">
  <div class="bet-selected-list">
    <div class="bet-selected">
      <h5>group</h5>
      <p>play time</p>
      <p class="pick">X</p>
      <p>qouta</p>
      <button class="remove-btn">&#120;</button>
    </div>
    <div class="bet-selected">
      <h5>group</h5>
      <p>play time</p>
      <p class="pick">X</p>
      <p>qouta</p>
      <button class="remove-btn">&#120;</button>
    </div>
  </div>
  <div class="bet-info">
    <p>Total quota <span>7.56</span></p>
    <br>
    <label>Place your bet:</label>
    <input type="number" name="bet">
    <label>Win:</label>
    <input type="number" name="win">
  </div>
</div>